/* 全体のスタイル */
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif; /* 丸ゴシック風のフォントを適用 */
  background-color: #f0f8ff; /* パステルの水色の背景色 */
}

/* ナビゲーションバーのスタイル */
nav {
  background-color: #dbe9f6; /* ヘッダーの背景色 */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* タイトルを中央に配置 */
nav .title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  flex: 1; /* タイトルを中央に配置するためにスペースを占有 */
  text-align: center; /* タイトルを中央揃え */
}

/* リストのスタイル */
nav ul {
  list-style-type: none; /* リストのスタイルを削除 */
  padding: 0;           /* パディングを削除 */
  display: flex;        /* 横並びにする */
  margin: 0;           /* マージンを削除 */
}

nav li {
  margin-left: 15px;  /* アイコン間のスペース */
}

.nav-icon {
  width: 24px; /* アイコンの幅 */
  height: auto; /* 高さは自動調整 */
  vertical-align: middle; /* テキストとアイコンを垂直方向に揃える */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #4a90e2;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}